In [1]:
import sqlite3
import pandas as pd

In [2]:
df_code = pd.read_csv('data/country_abbreviation.csv', index_col=['country'])
df_code = df_code.rename(columns={'abbreviation': 'code'})
df_code.tail(5)

             code
country
Yemen          YE
Yugoslavia     YU
South Africa   ZA
Zambia         ZM
Zimbabwe       ZW

In [3]:
df_continent = pd.read_csv('data/country_continent.csv', index_col=['country'])

In [4]:
df_population = pd.read_csv('data/country_population.csv', index_col=['country'])

In [5]:
df_languages = pd.read_csv('data/country_languages.csv', index_col=['country'])
df_languages = df_languages[~df_languages.index.duplicated(keep='first')]

In [6]:
df_capital_city = pd.read_csv('data/country_capital_city.csv', index_col=['country'])

In [7]:
df_life_expectancy = pd.read_csv('data/country_life_expectancy.csv', index_col=['country'])
df_life_expectancy = df_life_expectancy[~df_life_expectancy.index.duplicated(keep='first')]

In [8]:
df_capital_national_dish = pd.read_csv('data/country_by_national_dish.csv', index_col=['country'])
df_capital_national_dish = df_capital_national_dish[~df_capital_national_dish.index.duplicated(keep='first')]

In [9]:
df_code_and_continent = df_code.join(df_continent)

In [10]:
df_code_and_continent.head(1)

        code      continent
country
Aruba     AW  North America

In [11]:
frames = [df_code, df_continent, df_capital_city, df_population, df_capital_national_dish, df_life_expectancy]

In [13]:

result = pd.concat(frames, axis=1, sort=False)

In [14]:
result.head(5)

,code,continent,city,population,dish,life_expectancy
Aruba,AW,North America,Oranjestad,103000.0,Keshi yena,78.4
Afghanistan,AF,Asia,Kabul,22720000.0,Kabuli Palaw,45.9
Angola,AO,Africa,Luanda,12878000.0,Moamba de galinha,38.3
Anguilla,AI,North America,The Valley,8000.0,NaN,76.1
Albania,AL,Europe,Tirana,3401200.0,Tavë kosi,71.6

In [15]:
    with sqlite3.connect('country.db') as conn:
        result.to_sql('country', conn)